[submodule "src/github.com/agl/ed25519"]
	path = src/github.com/agl/ed25519
	url = git@github.com:agl/ed25519.git
[submodule "src/github.com/coreos/go-semver"]
	path = src/github.com/coreos/go-semver
	url = git@github.com:coreos/go-semver.git
[submodule "src/github.com/ipfs/go-cid"]
	path = src/github.com/ipfs/go-cid
	url = git@github.com:ipfs/go-cid.git
[submodule "src/github.com/ipfs/go-datastore"]
	path = src/github.com/ipfs/go-datastore
	url = git@github.com:ipfs/go-datastore.git
[submodule "src/github.com/ipfs/go-ipfs"]
	path = src/github.com/ipfs/go-ipfs
	url = git@github.com:mildred/go-ipfs.git
[submodule "src/github.com/ipfs/go-ipfs-util"]
	path = src/github.com/ipfs/go-ipfs-util
	url = git@github.com:ipfs/go-ipfs-util.git
[submodule "src/github.com/ipfs/go-log"]
	path = src/github.com/ipfs/go-log
	url = git@github.com:ipfs/go-log.git
[submodule "src/github.com/jbenet/go-base58"]
	path = src/github.com/jbenet/go-base58
	url = git@github.com:jbenet/go-base58.git
[submodule "src/github.com/jbenet/goprocess"]
	path = src/github.com/jbenet/goprocess
	url = git@github.com:jbenet/goprocess.git
[submodule "src/github.com/libp2p/go-libp2p-crypto"]
	path = src/github.com/libp2p/go-libp2p-crypto
	url = git@github.com:libp2p/go-libp2p-crypto.git
[submodule "src/github.com/libp2p/go-libp2p-host"]
	path = src/github.com/libp2p/go-libp2p-host
	url = git@github.com:libp2p/go-libp2p-host.git
[submodule "src/github.com/libp2p/go-libp2p-interface-conn"]
	path = src/github.com/libp2p/go-libp2p-interface-conn
	url = git@github.com:libp2p/go-libp2p-interface-conn.git
[submodule "src/github.com/libp2p/go-libp2p-kad-dht"]
	path = src/github.com/libp2p/go-libp2p-kad-dht
	url = git@github.com:mildred/go-libp2p-kad-dht.git
[submodule "src/github.com/libp2p/go-libp2p-kbucket"]
	path = src/github.com/libp2p/go-libp2p-kbucket
	url = git@github.com:libp2p/go-libp2p-kbucket.git
[submodule "src/github.com/libp2p/go-libp2p-loggables"]
	path = src/github.com/libp2p/go-libp2p-loggables
	url = git@github.com:libp2p/go-libp2p-loggables.git
[submodule "src/github.com/libp2p/go-libp2p-net"]
	path = src/github.com/libp2p/go-libp2p-net
	url = git@github.com:libp2p/go-libp2p-net.git
[submodule "src/github.com/libp2p/go-libp2p-peer"]
	path = src/github.com/libp2p/go-libp2p-peer
	url = git@github.com:libp2p/go-libp2p-peer.git
[submodule "src/github.com/libp2p/go-libp2p-peerstore"]
	path = src/github.com/libp2p/go-libp2p-peerstore
	url = git@github.com:libp2p/go-libp2p-peerstore.git
[submodule "src/github.com/libp2p/go-libp2p-protocol"]
	path = src/github.com/libp2p/go-libp2p-protocol
	url = git@github.com:libp2p/go-libp2p-protocol.git
[submodule "src/github.com/libp2p/go-libp2p-record"]
	path = src/github.com/libp2p/go-libp2p-record
	url = git@github.com:libp2p/go-libp2p-record.git
[submodule "src/github.com/libp2p/go-libp2p-routing"]
	path = src/github.com/libp2p/go-libp2p-routing
	url = git@github.com:libp2p/go-libp2p-routing.git
[submodule "src/github.com/libp2p/go-libp2p-transport"]
	path = src/github.com/libp2p/go-libp2p-transport
	url = git@github.com:libp2p/go-libp2p-transport.git
[submodule "src/github.com/libp2p/go-maddr-filter"]
	path = src/github.com/libp2p/go-maddr-filter
	url = git@github.com:libp2p/go-maddr-filter.git
[submodule "src/github.com/multiformats/go-multiaddr"]
	path = src/github.com/multiformats/go-multiaddr
	url = git@github.com:multiformats/go-multiaddr.git
[submodule "src/github.com/multiformats/go-multiaddr-net"]
	path = src/github.com/multiformats/go-multiaddr-net
	url = git@github.com:multiformats/go-multiaddr-net.git
[submodule "src/github.com/multiformats/go-multibase"]
	path = src/github.com/multiformats/go-multibase
	url = git@github.com:multiformats/go-multibase.git
[submodule "src/github.com/multiformats/go-multihash"]
	path = src/github.com/multiformats/go-multihash
	url = git@github.com:multiformats/go-multihash.git
[submodule "src/github.com/multiformats/go-multistream"]
	path = src/github.com/multiformats/go-multistream
	url = git@github.com:multiformats/go-multistream.git
[submodule "src/github.com/satori/go.uuid"]
	path = src/github.com/satori/go.uuid
	url = git@github.com:satori/go.uuid.git
[submodule "src/github.com/whyrusleeping/base32"]
	path = src/github.com/whyrusleeping/base32
	url = git@github.com:whyrusleeping/base32.git
[submodule "src/github.com/whyrusleeping/go-logging"]
	path = src/github.com/whyrusleeping/go-logging
	url = git@github.com:whyrusleeping/go-logging.git
[submodule "src/github.com/whyrusleeping/mafmt"]
	path = src/github.com/whyrusleeping/mafmt
	url = git@github.com:whyrusleeping/mafmt.git
[submodule "src/golang.org.old/x/crypto"]
	path = src/golang.org.old/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = git@github.com:gogo/protobuf.git
[submodule "src/github.com/hashicorp/golang-lru"]
	path = src/github.com/hashicorp/golang-lru
	url = https://github.com/hashicorp/golang-lru.git
[submodule "src/github.com/ipfs/go-todocounter"]
	path = src/github.com/ipfs/go-todocounter
	url = https://github.com/ipfs/go-todocounter.git
[submodule "src/github.com/jbenet/go-context"]
	path = src/github.com/jbenet/go-context
	url = https://github.com/jbenet/go-context.git
[submodule "src/github.com/whyrusleeping/go-keyspace"]
	path = src/github.com/whyrusleeping/go-keyspace
	url = https://github.com/whyrusleeping/go-keyspace.git
[submodule "src/github.com/whyrusleeping/autobatch"]
	path = src/github.com/whyrusleeping/autobatch
	url = https://github.com/whyrusleeping/autobatch.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net.git
[submodule "src/github.com/gxed/bbloom"]
	path = src/github.com/gxed/bbloom
	url = https://github.com/gxed/bbloom.git
[submodule "src/github.com/ipfs/go-metrics-interface"]
	path = src/github.com/ipfs/go-metrics-interface
	url = https://github.com/ipfs/go-metrics-interface.git
[submodule "src/github.com/libp2p/go-libp2p-netutil"]
	path = src/github.com/libp2p/go-libp2p-netutil
	url = https://github.com/libp2p/go-libp2p-netutil.git
[submodule "src/github.com/libp2p/go-libp2p"]
	path = src/github.com/libp2p/go-libp2p
	url = https://github.com/libp2p/go-libp2p.git
[submodule "src/github.com/libp2p/go-libp2p-metrics"]
	path = src/github.com/libp2p/go-libp2p-metrics
	url = https://github.com/libp2p/go-libp2p-metrics.git
[submodule "src/github.com/libp2p/go-libp2p-nat"]
	path = src/github.com/libp2p/go-libp2p-nat
	url = https://github.com/libp2p/go-libp2p-nat.git
[submodule "src/github.com/libp2p/go-libp2p-swarm"]
	path = src/github.com/libp2p/go-libp2p-swarm
	url = https://github.com/libp2p/go-libp2p-swarm.git
[submodule "src/github.com/libp2p/go-testutil"]
	path = src/github.com/libp2p/go-testutil
	url = https://github.com/libp2p/go-testutil.git
[submodule "src/github.com/fd/go-nat"]
	path = src/github.com/fd/go-nat
	url = https://github.com/fd/go-nat.git
[submodule "src/github.com/jbenet/go-stream-muxer"]
	path = src/github.com/jbenet/go-stream-muxer
	url = https://github.com/jbenet/go-stream-muxer.git
[submodule "src/github.com/libp2p/go-libp2p-interface-pnet"]
	path = src/github.com/libp2p/go-libp2p-interface-pnet
	url = https://github.com/libp2p/go-libp2p-interface-pnet.git
[submodule "src/github.com/whyrusleeping/ws-transport"]
	path = src/github.com/whyrusleeping/ws-transport
	url = https://github.com/whyrusleeping/ws-transport.git
[submodule "src/github.com/whyrusleeping/multiaddr-filter"]
	path = src/github.com/whyrusleeping/multiaddr-filter
	url = https://github.com/whyrusleeping/multiaddr-filter.git
[submodule "src/github.com/whyrusleeping/go-smux-yamux"]
	path = src/github.com/whyrusleeping/go-smux-yamux
	url = https://github.com/whyrusleeping/go-smux-yamux.git
[submodule "src/github.com/whyrusleeping/go-smux-spdystream"]
	path = src/github.com/whyrusleeping/go-smux-spdystream
	url = https://github.com/whyrusleeping/go-smux-spdystream.git
[submodule "src/github.com/whyrusleeping/go-smux-multistream"]
	path = src/github.com/whyrusleeping/go-smux-multistream
	url = https://github.com/whyrusleeping/go-smux-multistream.git
[submodule "src/github.com/whyrusleeping/go-notifier"]
	path = src/github.com/whyrusleeping/go-notifier
	url = https://github.com/whyrusleeping/go-notifier.git
[submodule "src/github.com/whyrusleeping/go-metrics"]
	path = src/github.com/whyrusleeping/go-metrics
	url = https://github.com/whyrusleeping/go-metrics.git
[submodule "src/github.com/libp2p/go-tcp-transport"]
	path = src/github.com/libp2p/go-tcp-transport
	url = https://github.com/libp2p/go-tcp-transport.git
[submodule "src/github.com/libp2p/go-peerstream"]
	path = src/github.com/libp2p/go-peerstream
	url = https://github.com/libp2p/go-peerstream.git
[submodule "src/github.com/libp2p/go-libp2p-conn"]
	path = src/github.com/libp2p/go-libp2p-conn
	url = https://github.com/libp2p/go-libp2p-conn.git
[submodule "src/github.com/libp2p/go-addr-util"]
	path = src/github.com/libp2p/go-addr-util
	url = https://github.com/libp2p/go-addr-util.git
[submodule "src/github.com/jackpal/go-nat-pmp"]
	path = src/github.com/jackpal/go-nat-pmp
	url = https://github.com/jackpal/go-nat-pmp.git
[submodule "src/github.com/libp2p/go-libp2p-secio"]
	path = src/github.com/libp2p/go-libp2p-secio
	url = https://github.com/libp2p/go-libp2p-secio.git
[submodule "src/github.com/jbenet/go-temp-err-catcher"]
	path = src/github.com/jbenet/go-temp-err-catcher
	url = https://github.com/jbenet/go-temp-err-catcher.git
[submodule "src/github.com/jbenet/go-reuseport"]
	path = src/github.com/jbenet/go-reuseport
	url = https://github.com/jbenet/go-reuseport.git
[submodule "src/github.com/jbenet/go-msgio"]
	path = src/github.com/jbenet/go-msgio
	url = https://github.com/jbenet/go-msgio.git
[submodule "src/github.com/jackpal/gateway"]
	path = src/github.com/jackpal/gateway
	url = https://github.com/jackpal/gateway.git
[submodule "src/github.com/huin/goupnp"]
	path = src/github.com/huin/goupnp
	url = https://github.com/huin/goupnp.git
[submodule "src/github.com/hashicorp/yamux"]
	path = src/github.com/hashicorp/yamux
	url = https://github.com/hashicorp/yamux.git
[submodule "src/github.com/docker/spdystream"]
	path = src/github.com/docker/spdystream
	url = https://github.com/docker/spdystream.git
[submodule "src/github.com/gxed/eventfd"]
	path = src/github.com/gxed/eventfd
	url = https://github.com/gxed/eventfd.git
[submodule "src/github.com/jbenet/go-sockaddr"]
	path = src/github.com/jbenet/go-sockaddr
	url = https://github.com/jbenet/go-sockaddr.git
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text.git
[submodule "src/github.com/gxed/GoEndian"]
	path = src/github.com/gxed/GoEndian
	url = https://github.com/gxed/GoEndian.git
[submodule "src/github.com/whyrusleeping/go-smux-multiplex"]
	path = src/github.com/whyrusleeping/go-smux-multiplex
	url = https://github.com/whyrusleeping/go-smux-multiplex.git
[submodule "src/github.com/whyrusleeping/go-multiplex"]
	path = src/github.com/whyrusleeping/go-multiplex
	url = https://github.com/whyrusleeping/go-multiplex.git
[submodule "src/github.com/multiformats/multicodec"]
	path = src/github.com/multiformats/multicodec
	url = https://github.com/mildred/multicodec.git
[submodule "src/github.com/whyrusleeping/mdns"]
	path = src/github.com/whyrusleeping/mdns
	url = https://github.com/whyrusleeping/mdns.git
[submodule "src/github.com/miekg/dns"]
	path = src/github.com/miekg/dns
	url = https://github.com/miekg/dns.git
[submodule "src/github.com/ipfs/go-ipld-node"]
	path = src/github.com/ipfs/go-ipld-node
	url = https://github.com/ipfs/go-ipld-node.git
[submodule "src/github.com/ipfs/go-ipld-cbor"]
	path = src/github.com/ipfs/go-ipld-cbor
	url = https://github.com/ipfs/go-ipld-cbor.git
[submodule "src/github.com/whyrusleeping/cbor"]
	path = src/github.com/whyrusleeping/cbor
	url = https://github.com/whyrusleeping/cbor.git
